{
  "openapi": "3.0.1",
  "info": {
    "title": "Visa Direct Payouts",
    "description": "",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://sandbox.api.visa.com",
      "description": "Sandbox server"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Payouts Originator Receive API - Legacy",
      "description": "Payouts Originator Receive API - Legacy"
    },
    {
      "name": "Payouts Originator Send API - Legacy",
      "description": "Payouts Originator Send API - Legacy"
    },
    {
      "name": "Visa Direct Account and Wallet Receive API",
      "description": "Visa Direct Account and Wallet Receive API"
    },
    {
      "name": "Visa Direct Account and Wallet Send API",
      "description": "Visa Direct Account and Wallet Send API"
    }
  ],
  "paths": {
    "/visapayouts/v3/payouts": {
      "get": {
        "tags": [
          "Visa Direct Account and Wallet Send API"
        ],
        "summary": "Query Payout",
        "description": "Query Payout",
        "operationId": "QueryPayout",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/PayoutIdentifier"
            }
          },
          {
            "name": "idType",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/TransactionIdType"
            }
          },
          {
            "name": "initiatingPartyId",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/InitiatingPartyId-1"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/QueryResponseAccount-1"
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse-4"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse-4"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse-4"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse"
          }
        },
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1visapayouts~1v3~1payouts/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      },
      "post": {
        "tags": [
          "Visa Direct Account and Wallet Send API"
        ],
        "summary": "Send Payout",
        "description": "This API allows an originator to send Visa a payout request to push funds with relevant sender, recipient, and recipient's bank account  or recipient's wallet information.",
        "operationId": "SendPayout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendPayoutRequest-1"
              },
              "examples": {
                "VDA Payment Received Scenario": {
                  "summary": "VDA Payment Received Scenario",
                  "value": {
                    "recipientDetail": {
                      "lastName": "smith",
                      "firstName": "Jessica",
                      "bank": {
                        "bankCode": "800554",
                        "bankCodeType": "SORT_CODE",
                        "accountNumberType": "DEFAULT",
                        "accountName": "Money Market",
                        "countryCode": "GBR",
                        "bankName": "Barclays",
                        "accountNumber": "6970093",
                        "currencyCode": "GBP"
                      },
                      "address": {
                        "country": "GBR",
                        "city": "London",
                        "postalCode": "675456",
                        "addressLine1": "123 Main St",
                        "state": "CF"
                      },
                      "type": "I"
                    },
                    "senderDetail": {
                      "address": {
                        "country": "USA",
                        "city": "Washington",
                        "addressLine1": "addressline1"
                      },
                      "name": "Ben",
                      "type": "C",
                      "senderAccountNumber": "senderAccountNumber"
                    },
                    "payoutMethod": "B",
                    "transactionDetail": {
                      "initiatingPartyId": 1002,
                      "businessApplicationId": "FD",
                      "statementNarrative": "advancepayment",
                      "transactionAmount": 1.5,
                      "transactionCurrencyCode": "GBP",
                      "settlementCurrencyCode": "GBP",
                      "clientReferenceId": "888852397088",
                      "senderSourceOfFunds": "01"
                    }
                  }
                },
                "VDW Transaction Timeout Scenario": {
                  "summary": "VDW Transaction Timeout Scenario",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Do",
                      "firstName": "John",
                      "wallet": {
                        "countryCode": "UGA",
                        "accountIdentifier": "+8801888513102",
                        "accountIdentifierType": "PHONENUMBER",
                        "currencyCode": "UGX",
                        "operatorName": "AIRTEL_MONEY"
                      },
                      "type": "I"
                    },
                    "senderDetail": {
                      "senderReferenceNumber": "122342",
                      "lastName": "Sender",
                      "firstName": "Ben",
                      "address": {
                        "country": "USA",
                        "city": "Washington",
                        "postalCode": "111222",
                        "addressLine1": "addressline5",
                        "state": "CF"
                      },
                      "type": "I"
                    },
                    "payoutMethod": "W",
                    "transactionDetail": {
                      "initiatingPartyId": 1003,
                      "businessApplicationId": "FD",
                      "transactionAmount": 1000,
                      "transactionCurrencyCode": "USD",
                      "endToEndId": "123456",
                      "clientReferenceId": "829149656561"
                    }
                  }
                },
                "VDA Transaction Timeout Scenario": {
                  "summary": "VDA Transaction Timeout Scenario",
                  "value": {
                    "recipientDetail": {
                      "lastName": "smith",
                      "firstName": "Jessica",
                      "bank": {
                        "bankCode": "800554",
                        "bankCodeType": "SORT_CODE",
                        "accountNumberType": "DEFAULT",
                        "accountName": "Money Market",
                        "countryCode": "GBR",
                        "bankName": "Barclays",
                        "accountNumber": "6970095",
                        "currencyCode": "GBP"
                      },
                      "address": {
                        "country": "GBR",
                        "city": "London",
                        "postalCode": "675456",
                        "addressLine1": "123 Main St",
                        "state": "CF"
                      },
                      "type": "I"
                    },
                    "senderDetail": {
                      "address": {
                        "country": "USA",
                        "city": "Washington",
                        "addressLine1": "addressline1"
                      },
                      "name": "Ben",
                      "type": "C",
                      "senderAccountNumber": "senderAccountNumber"
                    },
                    "payoutMethod": "B",
                    "transactionDetail": {
                      "initiatingPartyId": 1002,
                      "businessApplicationId": "FD",
                      "statementNarrative": "advancepayment",
                      "transactionAmount": 1.5,
                      "transactionCurrencyCode": "GBP",
                      "settlementCurrencyCode": "GBP",
                      "clientReferenceId": "140466879604",
                      "senderSourceOfFunds": "01"
                    }
                  }
                },
                "VDW Payment Received Scenario": {
                  "summary": "VDW Payment Received Scenario",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Do",
                      "firstName": "John",
                      "wallet": {
                        "countryCode": "UGA",
                        "accountIdentifier": "+8801888513100",
                        "accountIdentifierType": "PHONENUMBER",
                        "currencyCode": "UGX",
                        "operatorName": "AIRTEL_MONEY"
                      },
                      "type": "I"
                    },
                    "senderDetail": {
                      "senderReferenceNumber": "122342",
                      "lastName": "Sender",
                      "firstName": "Ben",
                      "address": {
                        "country": "USA",
                        "city": "Washington",
                        "postalCode": "111222",
                        "addressLine1": "addressline5",
                        "state": "CF"
                      },
                      "type": "I"
                    },
                    "payoutMethod": "W",
                    "transactionDetail": {
                      "initiatingPartyId": 1003,
                      "businessApplicationId": "FD",
                      "transactionAmount": 1000,
                      "transactionCurrencyCode": "USD",
                      "endToEndId": "123456",
                      "clientReferenceId": "987399801024"
                    }
                  }
                }
              },
              "example": null
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout response body",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AccountPayoutResponse-1"
                    }
                  ]
                },
                "examples": {
                  "VDA Payment Received Scenario": {
                    "summary": "VDA Payment Received Scenario",
                    "value": {
                      "transactionDetail": {
                        "transactionDateTime": "2022-11-16T10:36:07.000Z",
                        "settlementCurrencyCode": "GBP",
                        "payoutId": "5de56088-fdfc-31f2-83fa-fe6c3f66389b",
                        "clientReferenceId": "888852397088",
                        "payoutSpeed": "STANDARD",
                        "initiatingPartyId": 1002,
                        "fxConversionRate": 1,
                        "expectedPostingDate": "2022-11-16",
                        "destinationCurrencyCode": "GBP",
                        "transactionAmount": 1.5,
                        "transactionCurrencyCode": "GBP",
                        "settlementAmount": 1557,
                        "status": "PAYMENT_RECEIVED",
                        "destinationAmount": 1557
                      }
                    }
                  },
                  "VDW Transaction Timeout Scenario": {
                    "summary": "VDW Transaction Timeout Scenario",
                    "value": {
                      "transactionDetail": {
                        "initiatingPartyId": 1003,
                        "clientReferenceId": "829149656561",
                        "status": "PENDING"
                      }
                    }
                  },
                  "VDA Transaction Timeout Scenario": {
                    "summary": "VDA Transaction Timeout Scenario",
                    "value": {
                      "transactionDetail": {
                        "initiatingPartyId": 1002,
                        "clientReferenceId": "140466879604",
                        "status": "PENDING"
                      }
                    }
                  },
                  "VDW Payment Received Scenario": {
                    "summary": "VDW Payment Received Scenario",
                    "value": {
                      "transactionDetail": {
                        "transactionDateTime": "2023-05-03T11:09:51.938Z",
                        "settlementCurrencyCode": "USD",
                        "payoutId": "02af4f36-7fa0-317d-b7ac-db99a68f435e",
                        "endToEndId": "123456",
                        "clientReferenceId": "987399801024",
                        "payoutSpeed": "STANDARD",
                        "initiatingPartyId": 1003,
                        "fxConversionRate": 3613.25,
                        "expectedPostingDate": "2023-05-03",
                        "destinationCurrencyCode": "UGX",
                        "transactionAmount": 1000,
                        "transactionCurrencyCode": "USD",
                        "settlementAmount": 1000,
                        "status": "PAYMENT_RECEIVED",
                        "destinationAmount": 3613250
                      }
                    }
                  }
                },
                "example": null
              }
            }
          },
          "202": {
            "description": "Transaction is accepted",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/202AccountPayoutCreatedResponse-1"
                    }
                  ]
                },
                "examples": {
                  "VDA Payment Received Scenario": {
                    "summary": "VDA Payment Received Scenario",
                    "value": {
                      "transactionDetail": {
                        "transactionDateTime": "2022-11-16T10:36:07.000Z",
                        "settlementCurrencyCode": "GBP",
                        "payoutId": "5de56088-fdfc-31f2-83fa-fe6c3f66389b",
                        "clientReferenceId": "888852397088",
                        "payoutSpeed": "STANDARD",
                        "initiatingPartyId": 1002,
                        "fxConversionRate": 1,
                        "expectedPostingDate": "2022-11-16",
                        "destinationCurrencyCode": "GBP",
                        "transactionAmount": 1.5,
                        "transactionCurrencyCode": "GBP",
                        "settlementAmount": 1557,
                        "status": "PAYMENT_RECEIVED",
                        "destinationAmount": 1557
                      }
                    }
                  },
                  "VDW Transaction Timeout Scenario": {
                    "summary": "VDW Transaction Timeout Scenario",
                    "value": {
                      "transactionDetail": {
                        "initiatingPartyId": 1003,
                        "clientReferenceId": "829149656561",
                        "status": "PENDING"
                      }
                    }
                  },
                  "VDA Transaction Timeout Scenario": {
                    "summary": "VDA Transaction Timeout Scenario",
                    "value": {
                      "transactionDetail": {
                        "initiatingPartyId": 1002,
                        "clientReferenceId": "140466879604",
                        "status": "PENDING"
                      }
                    }
                  },
                  "VDW Payment Received Scenario": {
                    "summary": "VDW Payment Received Scenario",
                    "value": {
                      "transactionDetail": {
                        "transactionDateTime": "2023-05-03T11:09:51.938Z",
                        "settlementCurrencyCode": "USD",
                        "payoutId": "02af4f36-7fa0-317d-b7ac-db99a68f435e",
                        "endToEndId": "123456",
                        "clientReferenceId": "987399801024",
                        "payoutSpeed": "STANDARD",
                        "initiatingPartyId": 1003,
                        "fxConversionRate": 3613.25,
                        "expectedPostingDate": "2023-05-03",
                        "destinationCurrencyCode": "UGX",
                        "transactionAmount": 1000,
                        "transactionCurrencyCode": "USD",
                        "settlementAmount": 1000,
                        "status": "PAYMENT_RECEIVED",
                        "destinationAmount": 3613250
                      }
                    }
                  }
                },
                "example": null
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponses-1"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse-1"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse-1"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse"
          }
        },
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1visapayouts~1v3~1payouts/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      },
      "delete": {
        "tags": [
          "Visa Direct Account and Wallet Send API"
        ],
        "summary": "Cancel Payout",
        "description": "Cancel Payout Request",
        "operationId": "CancelPayout",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/PayoutIdentifier"
            }
          },
          {
            "name": "idType",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/TransactionIdType"
            }
          },
          {
            "name": "initiatingPartyId",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/InitiatingPartyId"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CancelPayoutResponse"
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse"
          }
        },
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1visapayouts~1v3~1payouts/delete",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },    
    "/v2/payouts/notification": {
      "post": {
        "tags": [
          "Payouts Originator Receive API - Legacy"
        ],
        "summary": "Payout Notification API",
        "description": "The purpose of the API is to enable the PSP to provide updates on an existing payout transaction with additional information or request additional information required to complete the processing of an existing active payout transaction. Examples for updates provided by the PSP are status updates or updates on the expected payout transaction posting date.",
        "operationId": "Status Notification",
        "requestBody": {
          "description": "OriginatorStatusNotification body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "description": "When any field validation fails or when any required field is missing or when request is inconsistent with the Request definitions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse-3"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse-3"
                }
              }
            }
          },
          "503": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse-3"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "OriginatorStatusNotification",
        "x-slug": "OriginatorStatusNotification",
        "x-tags": [
          "OriginatorStatusNotification"
        ],
        "x-operationVersions": [
          {
            "label": "v2 - Latest",
            "operationPointer": "#/paths/~1v2~1payouts~1notification/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    }
  },
  
  "x-tagGroups": [
    {
      "name": "API Reference",
      "tags": [
        "Payouts Originator Receive API - Legacy",
        "Payouts Originator Send API - Legacy",
        "Visa Direct Account and Wallet Receive API",
        "Visa Direct Account and Wallet Send API"
      ]
    }
  ]
}